#blocklyDiv {
    width: 100%; 
    height: 100%; 
    background-color: whitesmoke;
}

.blockly-editor {
    border: 2px solid black; 
}

.gameSpace {
    border: 2px solid red; 
}

#leaderboard {
    width: 100%; 
    height: 300px;
    border: 2px solid black; 
    margin-top: 20px; 
    display: flex; 
    flex-direction: column;
}

.container {
    display: grid;
    gap: 20px; 
    grid-template-columns: 1fr 2fr;
}

#gameArea {
    display: flex;
    width: 90%
}

#run-btn {
    width: 20%;
    height: 30px;
}