{% extends 'index.html' %}
{% block content %}
    <main>
        <div class="container">
          <div class="gameSpace">
            <canvas id="gameArea"></canvas>
            <div>
                <button id="run-btn">Run</button>
            </div>

            <div id="leaderboard"></div>
          </div>
          <div class="blockly-editor">
            <div id="blocklyDiv"></div>
          </div>
        </div>
    </main>
    
    <script type="text/javascript" src="{{url_for('static', filename='js/move_blocks.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/maps.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/game.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}