{% extends 'base.html' %}
{% block content %} 

<h1>Game</h1>
<form method="post">
    <div class="form-container">
        <div>
            <input name="name" placeholder="Name" value="{{name}}">
        </div>

        <div>
            <input name="joinCode" placeholder="Join Code" value="{{code}}">
        </div>

        <div>
            <button type="submit" name="join">Join Room</button>
        </div>

        <div>
            <button type="submit" name="create">Create Room</button>
        </div>
    </div>

</form>

{% endblock %}